ATRI_DB_SUPERUSER_PASSWORD=180710
ATRI_DB_NAME=atri
ATRI_DB_APP_USER=atri
ATRI_DB_APP_PASSWORD=180710
ATRI_DB_PORT_FORWARD=5432
ATRI_BOT_PORT=8888
ATRI_ACCESS_TOKEN=ATRI114514
ATRI_CONNECTION_TYPE=WebSocket_server
ATRI_NAPCAT_URL=host.docker.internal:3001
ATRI_SANDBOX_IMAGE=python:3.13-slim
TZ=Asia/Shanghai